<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Origen-de-los-datos" data-toc-modified-id="Origen-de-los-datos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Origen de los datos</a></span></li><li><span><a href="#Importar-csv" data-toc-modified-id="Importar-csv-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importar <code>csv</code></a></span></li><li><span><a href="#Columnas" data-toc-modified-id="Columnas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Columnas</a></span></li></ul></div>

In [1]:
import pandas as pd #manejar dataframes(datos en formato tabular)
import numpy as np #manejo de variables
import chardet #descubrir encoding

# Origen de los datos

**Portal EDUCAbase** - (Ministerio de Educación y formación profesional)

+ [**Máster**](https://estadisticas.mecd.gob.es/EducaJaxiPx/Tabla.htm?path=/Universitaria/Alumnado/EEU_2021/Master/Matriculados//l0/&file=Mat_Master_Sex_Ded_Rama_Univ.px)

+ [**Doctorado**](https://estadisticas.mecd.gob.es/EducaJaxiPx/Tabla.htm?path=/Universitaria/Alumnado/EEU_2021/Doctorado/Matriculados//l0/&file=Mat_Doct_Sex_Nac_Rama_Univ.px)

+ [**Grado**](http://estadisticas.mecd.gob.es/EducaJaxiPx/Tabla.htm?path=/Universitaria/Alumnado/EEU_2021/GradoCiclo/Matriculados//l0/&file=Mat_Grad_Sex_Ded_Rama_Univ.px&type=pcaxis&L=0http://estadisticas.mecd.gob.es/EducaJaxiPx/Tabla.htm?path=/Universitaria/Alumnado/EEU_2021/GradoCiclo/Matriculados//l0/&file=Mat_Grad_Sex_Ded_Rama_Univ.px&type=pcaxis&L=0)

# Importar `csv`

In [2]:
pd.read_csv("../data/master/Mat_Master_hom_Ded-comp_16-17.csv")

ParserError: Error tokenizing data. C error: Expected 3 fields in line 6, saw 7

Vemos el error: `ParserError: Error tokenizing data. C error: Expected 3 fields in line 6, saw 7`, lo cual quiere decir que las 5 primeras filas parecen tener menos columnas que las siguientes y pandas se hace un lio... Vamos a abrir nuestro `.csv`con un editor de texto par ver que está pasando.

Nos damos cuenta de que las 5 primeras 5 filas no nos sirven, así que nos las vamos a saltar.

In [3]:
pd.read_csv("../data/master/Mat_Master_hom_Ded-comp_15-16.csv",skiprows=5)

,Unnamed: 0,Ciencias Sociales y Jur�dicas,Ingenier�a y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coru�a,152.0,192.0,3.0,12.0,33.0,NaN
...,...,...,...,...,...,...,...
89,Internacional Isabel I de Castilla,361.0,0.0,0.0,0.0,0.0,NaN
90,Internacional Valenciana,765.0,0.0,42.0,29.0,49.0,NaN
91,Oberta de Catalunya,260.0,48.0,24.0,37.0,0.0,NaN
92,Notas:,NaN,NaN,NaN,NaN,NaN,NaN
93,Fuente: Sistema Integral de Informaci�n Univer...,NaN,NaN,NaN,NaN,NaN,NaN

¡BIEEEN! Ya vemos nuestros datos perfectamente ordenados, sin embargo parece que hay símbolos extraños... Concretamente si nos fijamos, esto ocurre en letras con tildes...letras`ñ`u otros simbolos propios del castellano concretamente(para entendernos, todos los que no existen en inglés).

Esto probablemente se debe a que nuestro encoding no es demasiado apropiado, por defecto `pd.read_csv` utiliza el enconding `UTF-8`. Vamos a intentar averiguar cual es el encoding real de nuestros datos.

In [4]:
#Enseñar primero con   print (src_file) y luego añadir el encoding
with open("../data/Master/mat_Master_hom_Ded-comp_15-16.csv") as src_file:
    print (src_file.encoding)

UTF-8

No me convence... probemos de otra manera

[Biblioteca `chardet`](https://github.com/chardet/chardet)

In [5]:
with open("../data/master/Mat_Master_hom_Ded-comp_15-16.csv", 'rb') as f:
    result = chardet.detect(f.read())
    print (result['encoding'])

ISO-8859-1

In [6]:
df =pd.read_csv("../data/master/Mat_Master_hom_Ded-comp_15-16.csv",encoding="ISO-8859-1",skiprows=5)

In [7]:
df.head(8)#nos muestra las primeras 5 filas por defecto pero podemos poner más

,Unnamed: 0,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coruña,152.0,192.0,3.0,12.0,33.0,NaN
5,Alcalá,0.0,0.0,0.0,0.0,0.0,NaN
6,Alicante,265.0,155.0,53.0,13.0,51.0,NaN
7,Almería,232.0,38.0,14.0,48.0,9.0,NaN

# Columnas

In [8]:
df.columns

Index(['Unnamed: 0', 'Ciencias Sociales y Jurídicas',
       'Ingeniería y Arquitectura', 'Artes y Humanidades',
       'Ciencias de la Salud', 'Ciencias', 'Unnamed: 6'],
      dtype='object')

In [9]:
df.columns = ['Universidad', 'Ciencias Sociales y Jurídicas',
       'Ingeniería y Arquitectura', 'Artes y Humanidades',
       'Ciencias de la Salud', 'Ciencias', 'Unnamed: 6']
df.head()

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coruña,152.0,192.0,3.0,12.0,33.0,NaN

In [10]:
#Comprobamos qué contiene 'Unnamed: 6'
df['Unnamed: 6'].unique()

array([nan])

In [11]:
#Como solo tiene valores nulos, la borramos
df.drop ('Unnamed: 6', axis =1, inplace=True)
df.head(8)

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo
4,A Coruña,152.0,192.0,3.0,12.0,33.0
5,Alcalá,0.0,0.0,0.0,0.0,0.0
6,Alicante,265.0,155.0,53.0,13.0,51.0
7,Almería,232.0,38.0,14.0,48.0,9.0

In [12]:
#df.iloc(eje 0-fila/1-columna)[numero de fila/columna][posicion dentro de la fila/columna])
print(df.iloc(1)[1][0])
print(df.iloc(1)[1][1])
print(df.iloc(1)[1][2])
print(df.iloc(1)[1][3])
print(df.iloc(1)[1][4]) #ya no me va a interesar

2015-2016
Centro propio
Hombres
Tiempo Completo
152.0

In [13]:
#Para no hardcodearlo(escrbirlo a mano uno por uno) haremos un bucle


print(range(4)) #me da un rango de cero a 4
print ("____________________________________")

for item in range(4):
    print (item)

range(0, 4)
____________________________________
0
1
2
3

¿¿¿¿Qué ha pasado con el 4????

En Python hay que tener en cuenta que en los rangos no se incluye el último elemento.

En este caso nos viene perfecto porque la fila en posición 4 ya no nos interesa. Solo queremos la información de la 0 a la 3.

In [14]:
def columnitas(df):
    lista_col =["Curso", "Tipo_centro","Sexo","Dedicacion"]
    for i in range (4):
        df[f"{lista_col[i]}"] = df.iloc(1)[1][i]

In [15]:
columnitas(df)

In [16]:
df

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Curso,Tipo_centro,Sexo,Dedicacion
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,Centro propio,Hombres,Tiempo Completo
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,2015-2016,Centro propio,Hombres,Tiempo Completo
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,2015-2016,Centro propio,Hombres,Tiempo Completo
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,2015-2016,Centro propio,Hombres,Tiempo Completo
4,A Coruña,152.0,192.0,3.0,12.0,33.0,2015-2016,Centro propio,Hombres,Tiempo Completo
...,...,...,...,...,...,...,...,...,...,...
89,Internacional Isabel I de Castilla,361.0,0.0,0.0,0.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
90,Internacional Valenciana,765.0,0.0,42.0,29.0,49.0,2015-2016,Centro propio,Hombres,Tiempo Completo
91,Oberta de Catalunya,260.0,48.0,24.0,37.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
92,Notas:,NaN,NaN,NaN,NaN,NaN,2015-2016,Centro propio,Hombres,Tiempo Completo
93,Fuente: Sistema Integral de Información Univer...,NaN,NaN,NaN,NaN,NaN,2015-2016,Centro propio,Hombres,Tiempo Completo

In [17]:
df = df.iloc(0)[4:-2]
df.tail()

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Curso,Tipo_centro,Sexo,Dedicacion
87,A Distancia de Madrid,696.0,31.0,0.0,17.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
88,Internacional de La Rioja,2025.0,325.0,121.0,21.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
89,Internacional Isabel I de Castilla,361.0,0.0,0.0,0.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
90,Internacional Valenciana,765.0,0.0,42.0,29.0,49.0,2015-2016,Centro propio,Hombres,Tiempo Completo
91,Oberta de Catalunya,260.0,48.0,24.0,37.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo

In [18]:
df.head()

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Curso,Tipo_centro,Sexo,Dedicacion
4,A Coruña,152.0,192.0,3.0,12.0,33.0,2015-2016,Centro propio,Hombres,Tiempo Completo
5,Alcalá,0.0,0.0,0.0,0.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo
6,Alicante,265.0,155.0,53.0,13.0,51.0,2015-2016,Centro propio,Hombres,Tiempo Completo
7,Almería,232.0,38.0,14.0,48.0,9.0,2015-2016,Centro propio,Hombres,Tiempo Completo
8,Autónoma de Barcelona,450.0,72.0,139.0,84.0,159.0,2015-2016,Centro propio,Hombres,Tiempo Completo

In [19]:
#Vamos a comprobar que no tengamos nada raro
df["Curso"].value_counts()

2015-2016    88
Name: Curso, dtype: int64

In [23]:
#Ahora para todas las nuevas columnas
lista_col =["Curso", "Tipo_centro","Sexo","Dedicacion"]
for i in lista_col:
    print("\n\n________"+i+"________")
    print(df[f"{i}"].value_counts())

________Curso________
2015-2016    88
Name: Curso, dtype: int64


________Tipo_centro________
Centro propio    88
Name: Tipo_centro, dtype: int64


________Sexo________
Hombres    88
Name: Sexo, dtype: int64


________Dedicacion________
Tiempo Completo    88
Name: Dedicacion, dtype: int64

Pero yo no tengo un único csv... tengo 130 😭 así que tendremos que aplicarlo a los demás. Para poder distinguirlos vamos a añadir una última columna con la única información que nos falta:

- Mat_Master_hom_Ded-comp_15-16.csv -->>> Son estudiantes de máster

In [24]:
df["master"] = "master"
df.head()

<ipython-input-24-004cd80ff591>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["master"] = "master"

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Curso,Tipo_centro,Sexo,Dedicacion,master
4,A Coruña,152.0,192.0,3.0,12.0,33.0,2015-2016,Centro propio,Hombres,Tiempo Completo,master
5,Alcalá,0.0,0.0,0.0,0.0,0.0,2015-2016,Centro propio,Hombres,Tiempo Completo,master
6,Alicante,265.0,155.0,53.0,13.0,51.0,2015-2016,Centro propio,Hombres,Tiempo Completo,master
7,Almería,232.0,38.0,14.0,48.0,9.0,2015-2016,Centro propio,Hombres,Tiempo Completo,master
8,Autónoma de Barcelona,450.0,72.0,139.0,84.0,159.0,2015-2016,Centro propio,Hombres,Tiempo Completo,master

In [25]:
df.shape

(88, 11)