<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importar-csv" data-toc-modified-id="Importar-csv-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importar <code>csv</code></a></span></li><li><span><a href="#Columnas" data-toc-modified-id="Columnas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Columnas</a></span></li></ul></div>

In [1]:
import pandas as pd #manejar dataframes(datos en formato tabular)
import numpy as np #manejo de variables
import chardet #descubrir encoding
import plotly #hacer visualizaciones(gráficos preciosos)

# Importar `csv`

In [3]:
pd.read_csv("../data/Master/Mat_Master_hom_Ded-comp_15-16.csv")

Vemos el error: `ParserError: Error tokenizing data. C error: Expected 3 fields in line 6, saw 7`, lo cual quiere decir que las 5 primeras filas parecen tener menos columnas que las siguientes y pandas se hace un lio... Vamos a abrir nuestro `.csv`con un editor de texto par ver que está pasando.

Nos damos cuenta de que las 5 primeras 5 filas no nos sirven, así que nos las vamos a saltar.

In [4]:
pd.read_csv("../data/Master/Mat_Master_hom_Ded-comp_15-16.csv",skiprows=5)

,Unnamed: 0,Ciencias Sociales y Jur�dicas,Ingenier�a y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coru�a,152.0,192.0,3.0,12.0,33.0,NaN
...,...,...,...,...,...,...,...
89,Internacional Isabel I de Castilla,361.0,0.0,0.0,0.0,0.0,NaN
90,Internacional Valenciana,765.0,0.0,42.0,29.0,49.0,NaN
91,Oberta de Catalunya,260.0,48.0,24.0,37.0,0.0,NaN
92,Notas:,NaN,NaN,NaN,NaN,NaN,NaN
93,Fuente: Sistema Integral de Informaci�n Univer...,NaN,NaN,NaN,NaN,NaN,NaN

¡BIEEEN! Ya vemos nuestros datos perfectamente ordenados, sin embargo parece que hay símbolos extraños... Concretamente si nos fijamos, esto ocurre en letras con tildes...letras`ñ`u otros simbolos propios del castellano concretamente(para entendernos, todos los que no existen en inglés).

Esto probablemente se debe a que nuestro encoding no es demasiado apropiado, por defecto `pd.read_csv` utiliza el enconding `UTF-8`. Vamos a intentar averiguar cual es el encoding real de nuestros datos.

In [12]:
#Enseñar primero con   print (src_file) y luego añadir el encoding
with open("../data/Master/Mat_Master_hom_Ded-comp_15-16.csv") as src_file:
    print (src_file.encoding)

UTF-8

No me convence... probemos de otra manera

[Biblioteca `chardet`](https://github.com/chardet/chardet)

In [13]:
with open("../data/Master/Mat_Master_hom_Ded-comp_15-16.csv", 'rb') as f:
    result = chardet.detect(f.read())
    print (result['encoding'])

ISO-8859-1

In [14]:
df =pd.read_csv("../data/Master/Mat_Master_hom_Ded-comp_15-16.csv",encoding="ISO-8859-1",skiprows=5)

In [16]:
df.head(8)#nos muestra las primeras 5 filas por defecto pero podemos poner más

,Unnamed: 0,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coruña,152.0,192.0,3.0,12.0,33.0,NaN
5,Alcalá,0.0,0.0,0.0,0.0,0.0,NaN
6,Alicante,265.0,155.0,53.0,13.0,51.0,NaN
7,Almería,232.0,38.0,14.0,48.0,9.0,NaN

# Columnas

In [17]:
df.columns

Index(['Unnamed: 0', 'Ciencias Sociales y Jurídicas',
       'Ingeniería y Arquitectura', 'Artes y Humanidades',
       'Ciencias de la Salud', 'Ciencias', 'Unnamed: 6'],
      dtype='object')

In [20]:
df.columns = ['Universidad', 'Ciencias Sociales y Jurídicas',
       'Ingeniería y Arquitectura', 'Artes y Humanidades',
       'Ciencias de la Salud', 'Ciencias', 'Unnamed: 6']
df.head()

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias,Unnamed: 6
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016,NaN
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio,NaN
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres,NaN
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,NaN
4,A Coruña,152.0,192.0,3.0,12.0,33.0,NaN

In [22]:
#Comprobamos qué contiene 'Unnamed: 6'
df['Unnamed: 6'].unique()

array([nan])

In [25]:
#Como solo tiene valores nulos, la borramos
df.drop ('Unnamed: 6', axis =1, inplace=True)
df.head(8)

,Universidad,Ciencias Sociales y Jurídicas,Ingeniería y Arquitectura,Artes y Humanidades,Ciencias de la Salud,Ciencias
0,NaN,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016
1,NaN,Centro propio,Centro propio,Centro propio,Centro propio,Centro propio
2,NaN,Hombres,Hombres,Hombres,Hombres,Hombres
3,NaN,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo,Tiempo Completo
4,A Coruña,152.0,192.0,3.0,12.0,33.0
5,Alcalá,0.0,0.0,0.0,0.0,0.0
6,Alicante,265.0,155.0,53.0,13.0,51.0
7,Almería,232.0,38.0,14.0,48.0,9.0

In [37]:
#df.iloc(eje 0-fila/1-columna)[numero de fila/columna][posicion dentro de la fila/columna])
print(df.iloc(1)[1][0])
print(df.iloc(1)[1][1])
print(df.iloc(1)[1][2])
print(df.iloc(1)[1][3])
print(df.iloc(1)[1][4]) #ya no me va a interesar

2015-2016
Centro propio
Hombres
Tiempo Completo
152.0

In [40]:
#Para no hardcodearlo(escrbirlo a mano uno por uno) haremos un bucle


print(range(4)) #me da un rango de cero a 4
print ("____________________________________")

for item in range(4):
    print (item)

range(0, 4)
____________________________________
0
1
2
3

¿¿¿¿Qué ha pasado con el 4????

En Python hay que tener en cuenta que en los rangos no se incluye el último elemento.

En este caso nos viene perfecto porque la fila en posición 4 ya no nos interesa. Solo queremos la información de la 0 a la 3.

In [ ]:
def columnitas(df):
    lista_col =["Curso", "Tipo_centro","Sexo","Dedicacion"]
    for i in range (4):
        df[f"{lista_col[i]}"] = df.iloc(1)[1][i]

In [ ]:
columnitas(df)

In [ ]:
df

In [ ]:
df = df.iloc(0)[4:-2]
df.tail()

In [ ]:
df.head()